.App {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-rows: 2fr 7fr 1fr;
  }
  .App > *{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }