.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height:50%;
}

.app-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}

.app-nav li{
  list-style: none;
  
}
.app-nav li a{
  color: white;
}
.tienda {
  width: 100%;
  display: flex;
}

.productos {
 width: 70%;
 display: flex;
 justify-content: space-around;
}

.productos .producto{
  background-color: white;
}
.productos .producto .imagen{
  font-size: 100px;
}
.productos .producto .precio button{
  width: 100px;
}

.carrito {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color:black;
  color: aliceblue;

}

.carrito div{
  display: flex;
  justify-content: center
}

.carrito div>*{
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
