.content {
  background-color: white;
}
.App-intro{
  display: flex;
  justify-content: space-between;
}
.product-list {
  display: flex;
  justify-content: center;
  align-content: space-around;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
